{% load staticfiles %}

<html>
	<head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

    <body>

			<nav>
			<div class="nav-wrapper light-green accent-4">
			  <ul id="navbar-left" class="left hide-on-med-and-down">
				<li><a href="home.html">Home</a></li>
			  </ul>
			  <a href="#" class="brand-logo center"><img src="img/Logo.png" height="64px"></a>
			  <ul id="navbar-right" class="right hide-on-med-and-down">
				<li><a href="sass.html">Welcome, John Doe</a></li>
			  </ul>
			</div>
		  </nav>

		    <div style="height: 6vh" ></div>

 <div class="valign-wrapper">
		<div class="row">
 
			<div class="col s12 m12 l4">
				<div class="card z-depth-3">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="../../static/edulution/img/matho2.jpg" />
					</div>
					<div class="card-content activator waves-effect waves-block waves-light">
						<span class="card-title activator grey-text text-darken-4" style="font-size:35px">Mathematics</span>
						<p style="font-size:24px">Completed modules: <br/> <i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i></p>
						  <div class="progress">
							<div class="determinate" style="width: 70%"></div>
						  </div>
					</div>
			</div>
		
			<div class="col s12 m12 l4">
				<div class="card z-depth-3">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="../../static/edulution/img/lecture.jpg" />
					</div>
					<div class="card-content activator waves-effect waves-block waves-light">
						<span class="card-title activator grey-text text-darken-4" style="font-size:35px">Literacy</span>
						<p style="font-size:24px">Completed modules: <br/> <i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i></p>
						<div class="progress">
							<div class="determinate" style="width: 5%"></div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col s12 m12 l4">
				<div class="card z-depth-3">
					<div class="card-image waves-effect waves-block waves-light">
						<img class="activator" src="../../static/edulution/img/agri2.jpg" />
					</div>
					<div class="card-content activator waves-effect waves-block waves-light">
						<span class="card-title activator grey-text text-darken-4" style="font-size:35px">Agriculture</span>
						<p style="font-size:24px">Completed modules: <br/> <i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i><i class="material-icons" style="font-size:24px">star</i></p>
						<div class="progress">
							<div class="determinate" style="width: 40%"></div>
						</div>
					</div>
			</div>
		
	</div>
</div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>